body {
    background: linear-gradient(to right, #fdc830, #f37335); 
}

p { 
    text-align: center;
    font-style: bold;
}



body {
    background: linear-gradient(to right, #fdc830, #f37335); 
  }
  
  p { 
    text-align: center;
    font-style: bold;
  }
  .Ci_Err{
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 64px;
  }
  
  button {
    background-color: rgb(255, 0, 0);
    border: none;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 19px;
    width: 200px;
  }
  
  form { 
    text-align: center;
  }
  
  footer {
    position:absolute;
    font-size: 20px;
    bottom:0;
    height:60px;
  }
  


footer {
    position:absolute;
    font-size: 20px;
    bottom:0;
    height:60px;
 }
