{{!-- Something went wrong, error checking in  --}}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Something Went Wrong</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/CiError.css">
</head>

<body>
    <main>
        <p class = "Ci_Err" >Something went wrong</p>
        <p class = "Ci_Err" >Please try again or sign in online</p>
        <form action="/">
            <button class = "cancel" type="Cancel" text-align="center" >Cancel</button>
        </form>
    </main>
</body>