{{!-- MAIN PAGE --}}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Check In </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/main.css">
</head>

<body>
      <main>
      <h1>Check In</h1>
      <p class="Swipe">
          Please Swipe Your Id 
      </p>
      <form action="/search" method="GET">
        <label for="idNum"></label><br>
        <input type="text" size="30" id="idNum" name="idNum" autofocus/>
        <button type="Submit">Submit</button>
      </form>
    </main>
</body>

